.Integral {
    width: 100%;
    height: auto;
    z-index: 0;
    display: block;
    position: relative;
}

#ImgIntegral {
    width: 70px;
    height: 80px;
    z-index: 1;
}

#IntegralFunction {
    margin-left: 30px;
}

#FunctionChart {
    width: 50%;
    height: 300px;
    border: solid 1px black;
    display: block;
}